<header class="padding-v-l">
    <div class="container">
        <div class="row">
            <div class="col align-self-center  justify-content-center">
                <h1>Esto es un h1 y pertenezco al header</h1>
                <p>Eluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                <button type="button" class="btn btn-primary">Flat</button>
                <button type="button" class="btn btn-outline-primary">Outline</button>
            </div>
        </div>
    </div>
</header>