.figure-content{
  .size{
    .block-cover &{
      height: 0;
      padding-bottom: 100%;
      @media #{$desktop}{
        height: inherit;
        padding-bottom: inherit;
      }
    }

  }
}



.figure-group{
    figure{
      display: inline-block;
    }

  }


.figure-caption-absolute {
    position: absolute;
    bottom: 0;
  }



