.ds-figure{
  @media #{$desktop}{
    &:last-child{
      margin-bottom: 0;
    }
  }
}


.figure-group{
  figure{
    display: inline-block;
  }

}


.figure-caption-absolute {
  position: absolute;
  bottom: 0;
}

