.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: $spacer * 0.25; /* Specified height */
  background: $gray-500; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  &:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: $spacer; /* Set a specific slider handle width */
    height: $spacer; /* Slider handle height */
    border-radius: 50%;
    background: $primary; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  &::-moz-range-thumb {
    width: $spacer * 0.5; /* Set a specific slider handle width */
    height: $spacer * 0.5; /* Slider handle height */
    background: $primary; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
}
