/*the container must be positioned relative:*/
.my-select {
  position: relative;
  select{
    display: none; /*hide original SELECT element:*/
  }

}

.select-selected {
  background-color: $white;
  border: 1px solid $gray-500;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  width: 100%;
  &:after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: absolute;
    right: 0.5rem;
    top: 18px;


}
  //&.select-arrow-active{
  //  &:after {
  //    border-color: transparent transparent $gray-600 transparent;
  //    top: 10px;
  //  }
  //}

}


/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: $gray-600;
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  padding-left: .5em;


}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: $white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid $gray-400;
  border-radius: 2px;
  border-top: 0;
  div{
    &:hover{
      background-color: rgba(0, 0, 0, 0.1);
    }

  }


}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.select-group{
  margin: 1rem 0;
}


.select{
  &-sm{
    width:50%;
  }
  &-md{
    width:70%;
  }
  &-lg{
    width:100%;
  }
}