
<div class="filters-group-horizontal brand-js">
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle btn-filter-horizontal" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Marcas
        </button>
        <div class="dropdown-menu filter-dropdown" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">
                {% include _components/_input.html class="" placeholder="Buscar" %}
            </div>
            <div class="dropdown-item">
                <div class="form-check-group">
                    {% include _components/_check.html class="" type="checkbox" text="Nike"  %}
                    {% include _components/_check.html class="" type="checkbox" text="Adidas"  %}
                    {% include _components/_check.html class="" type="checkbox" text="Converse"  %}

                </div>
            </div>

            <div class="dropdown-divider"></div>

                {% include _filters/_horizontal/_close.html  %}

        </div>
    </div>
</div>


