body{
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  transform-style: preserve-3d;
}

.btn, .form, .form-inline, .form-check{
  margin-bottom: 1em;
}

.col-padding-bottom{
  [class^=col] {
    padding-bottom: 1.5rem;

  }
  .no-gutters {
    [class^=col] {
      padding-bottom: 0;
    }
  }
}




.block{
  position:relative;
  padding: 1rem 0;
  &.block-cover{
    padding: 0;
  }
}
form{
  margin-bottom: 1rem;
}
figure,
p,
button,
form,
.btn{
  &:last-child {
    margin-bottom: 0;
  }
}

ul{
  list-style-type: none;
  padding-left: 1.5rem;
}