body{
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  transform-style: preserve-3d;
}

.btn, .form, .form-inline, .form-check{
  margin-bottom: 1em;
}

