<div class="media">
    <div class="media-top">
        <div class="row align-items-center">
            <div class="col-md-2">

                    <i class="fas fa-{{ include.icon }} fa-2x fa-fw"></i>


            </div>
            <div class="col-md-10">
                <h4>{{ include.title }}</h4>
            </div>
        </div>

    </div>
    <div class="media-bottom">

        <div class="row">

            <div class="col-md-10   offset-md-2">
                <p>Morbi elit justo vel nec purus at ligula ex volutpat sapien primi justo morbi elit vel nec purus at ligula ex volutpat sapien primis.
                </p>
            </div>
        </div>
    </div>


</div>