<div class="media">
    <div class="media-top">
        <div class="row align-items-center">
            <div class="col-md-2">
                <div class="icon">
                    <span class="icon-{{ include.icon }}"></span>
                </div>

            </div>
            <div class="col-md-10">
                <h4>{{ include.title }}</h4>
            </div>
        </div>

    </div>
    <div class="media-bottom"></div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
            <p>Morbi elit justo vel nec purus at ligula ex volutpat sapien primi justo morbi elit vel nec purus at ligula ex volutpat sapien primis.
            </p>
        </div>
    </div>

</div>