<h1>h1. Bootstrap heading</h1>
<p class="lead">
    Soy un <b>p lead</b> vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
</p>
<p>Eluptatem quia voluptas sit aspernatur aut odit aut fugit, <u>this line of text will render as underlined</u> sed quia i boriosam, nisi ut aliquid exm ipsum quia dolor sit amet, consectetur, am quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
<img  class="img-fluid"  src="img/img.jpg" alt="Generic placeholder image" >
<p>Mauris convallis condimentum metus a scelerisque. Suspendisse sagittis mi eu est suscipit, ut dapibus sem ultrices. Sed ut pretium metus. Donec maximus rutrum nisi ut rhoncus. Cras sit amet dolor accumsan, consequat elit id, vulputate augue. Praesent accumsan viverra orci sit amet efficitur. Etiam fermentum ante a porta mollis. Ut eleifend vehicula turpis.</p>
<a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">


<h2>h2. Bootstrap heading</h2>
<p class="lead">
    Soy un <strong>p lead</strong> vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
</p>
<p>Eluptatem quia voluptas sit aspernatur aut odit aut fugit, sed <mark>highlight</mark>quia i boriosam, nisi ut aliquid exm ipsum quia dolor sit amet, consectetur, am quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
<figure class="figure">
    <img src="img/img.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>
<p>Mauris convallis condimentum metus a scelerisque. Suspendisse sagittis mi eu est suscipit, ut dapibus sem ultrices. Sed ut pretium metus. Donec maximus rutrum nisi ut rhoncus. Cras sit amet dolor accumsan, consequat elit id, vulputate augue. Praesent accumsan viverra orci sit amet efficitur. Etiam fermentum ante a porta mollis. Ut eleifend vehicula turpis.</p>
<blockquote class="blockquote">
    <p class="mb-0">Blockquote lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>

</blockquote>
<p>Mauris convallis condimentum metus a scelerisque. Suspendisse sagittis mi eu est suscipit, ut dapibus sem ultrices. Sed ut pretium metus. Donec maximus rutrum nisi ut rhoncus. Cras sit amet dolor accumsan, consequat elit id, vulputate augue. Praesent accumsan viverra orci sit amet efficitur. Etiam fermentum ante a porta mollis. Ut eleifend vehicula turpis.</p>
<dl class="row">
    <dt class="col-sm-3">Description lists</dt>
    <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

    <dt class="col-sm-3">Euismod</dt>
    <dd class="col-sm-9">
        <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
        <p>Donec id elit non mi porta gravida at eget metus.</p>
    </dd>

    <dt class="col-sm-3">Malesuada porta</dt>
    <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

    <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
    <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>

    <dt class="col-sm-3">Nesting</dt>
    <dd class="col-sm-9">
        <dl class="row">
            <dt class="col-sm-4">Nested definition list</dt>
            <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</dd>
        </dl>
    </dd>
</dl>
<p>Mauris convallis condimentum metus a scelerisque. Suspendisse sagittis mi eu est suscipit, ut dapibus sem ultrices. Sed ut pretium metus. Donec maximus rutrum nisi ut rhoncus. Cras sit amet dolor accumsan, consequat elit id, vulputate augue. Praesent accumsan viverra orci sit amet efficitur. Etiam fermentum ante a porta mollis. Ut eleifend vehicula turpis.</p>

<h3>h3. Bootstrap heading</h3>
<p class="lead">
    Soy un <b>p lead</b> vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
</p>
<p>Eluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia i boriosam, nisi ut aliquid exm ipsum quia dolor sit amet, consectetur, am quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
<ul class="list-unstyled">
    <li>Lorem ipsum dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie lorem at massa</li>
    <li>Facilisis in pretium nisl aliquet</li>
    <li>Nulla volutpat aliquam velit
        <ul>
            <li>Phasellus iaculis neque</li>
            <li>Purus sodales ultricies</li>
            <li>Vestibulum laoreet porttitor sem</li>
            <li>Ac tristique libero volutpat at</li>
        </ul>
    </li>
    <li>Faucibus porta lacus fringilla vel</li>
    <li>Aenean sit amet erat nunc</li>
    <li>Eget porttitor lorem</li>
</ul>
<p>Mauris convallis condimentum metus a scelerisque. Suspendisse sagittis mi eu est suscipit, ut dapibus sem ultrices. Sed ut pretium metus. Donec maximus rutrum nisi ut rhoncus. Cras sit amet dolor accumsan, consequat elit id, vulputate augue. Praesent accumsan viverra orci sit amet efficitur. Etiam fermentum ante a porta mollis. Ut eleifend vehicula turpis.</p>
<form class="form-inline">
    <div class="form-group mb-2">
        <label for="staticEmail2" class="sr-only">Email</label>
        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="inputPassword2" class="sr-only">Password</label>
        <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</form>
<p>Mauris convallis condimentum metus a scelerisque. Suspendisse sagittis mi eu est suscipit, ut dapibus sem ultrices. Sed ut pretium metus. Donec maximus rutrum nisi ut rhoncus. Cras sit amet dolor accumsan, consequat elit id, vulputate augue. Praesent accumsan viverra orci sit amet efficitur. Etiam fermentum ante a porta mollis. Ut eleifend vehicula turpis.</p>

<p>Mauris convallis condimentum metus a scelerisque. Suspendisse sagittis mi eu est suscipit, ut dapibus sem ultrices. Sed ut pretium metus. Donec maximus rutrum nisi ut rhoncus. Cras sit amet dolor accumsan, consequat elit id, vulputate augue. Praesent accumsan viverra orci sit amet efficitur. Etiam fermentum ante a porta mollis. Ut eleifend vehicula turpis.</p>

<h4>h4. Bootstrap heading</h4>
<p>Eluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia i boriosam, nisi ut aliquid exm ipsum quia dolor sit amet, consectetur, am quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<p>Mauris convallis condimentum metus a scelerisque. Suspendisse sagittis mi eu est suscipit, ut dapibus sem ultrices. Sed ut pretium metus. Donec maximus rutrum nisi ut rhoncus. Cras sit amet dolor accumsan, consequat elit id, vulputate augue. Praesent accumsan viverra orci sit amet efficitur. Etiam fermentum ante a porta mollis. Ut eleifend vehicula turpis.</p>
<h5>h5. Bootstrap heading</h5>
<p>Eluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia i boriosam, nisi ut aliquid exm ipsum quia dolor sit amet, consectetur, am quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
<input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
<input class="form-control" type="text" placeholder="Default input">
<input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
<p>Mauris convallis condimentum metus a scelerisque. Suspendisse sagittis mi eu est suscipit, ut dapibus sem ultrices. Sed ut pretium metus. Donec maximus rutrum nisi ut rhoncus. Cras sit amet dolor accumsan, consequat elit id, vulputate augue. Praesent accumsan viverra orci sit amet efficitur. Etiam fermentum ante a porta mollis. Ut eleifend vehicula turpis.</p>

