<div class="col-3">
    <div class="filters visible-bigtablets pt-3">
        <div class="filters-group filter-categories">
           <strong>{% include _components/_span.html text="Todas las categorías" %}</strong>
            <hr>
            <ul class="list-unstyled">
                <li><a href="#">Chaquetas</a></li>
                <li><a href="#">Abrigos</a></li>
                <li><a href="#">Tops</a></li>
                <li><a href="#">Camisas</a></li>
                <li><a href="#">Zapatos </a> <i class="fas fa-angle-down"></i>



                    <ul>
                        <li><a href="#">Botas</a></li>
                        <li>Sneakers</li>
                    </ul>
                </li>
                <li><a href="#">Camisetas</a></li>
                <li><a href="#">Bolsos</a></li>
                <li><a href="#">Accesorios</a></li>
            </ul>
        </div>




        {% if page.products.filter-position == 'left' %}
        <div class="filter-vertical">

            <div class="filters-group">
                <strong>{% include _components/_span.html text="Tipo" %}</strong>
                <hr>
                <div class="form-check-group">
                    {% include _components/_check.html class=""  text="Running"  %}
                    {% include _components/_check.html class=""  text="Indoor"  %}
                    {% include _components/_check.html class=""  text="Casual"  %}
                </div>
            </div>
            {% include _filters/_vertical/_filter-brand.html  %}


            {% include _filters/_vertical/_range-slider.html  %}

            <div class="filters-group">
                <strong>{% include _components/_span.html text="Descuento" %}</strong>
                <hr>
                <div class="form-check-group">
                    {% include _components/_radio.html class="" text="30%"  %}
                    {% include _components/_radio.html class="" text="20%"  %}

                </div>
            </div>
            <div class="filters-group">
                <strong>{% include _components/_span.html text="Talla" %}</strong>
                <hr>
                <div class="input-group-button">
                    {% include _components/_btn.html btn-class='btn-sm btn-square btn-secondary' btn-title='XS' %}
                    {% include _components/_btn.html btn-class='btn-sm btn-square btn-secondary' btn-title='S' %}
                    {% include _components/_btn.html btn-class='btn-sm btn-square btn-secondary' btn-title='M' %}
                    {% include _components/_btn.html btn-class='btn-sm btn-square btn-secondary' btn-title='L' %}
                    {% include _components/_btn.html btn-class='btn-sm btn-square btn-secondary' btn-title='XL' %}


                </div>
            </div>
            <div class="filters-group">
                <strong>{% include _components/_span.html text="Color" %}</strong>
                <hr>
                <div class="input-group-button">
                    {% include _components/_btn.html btn-class='btn-secondary btn-sm btn-square' btn-title='' %}
                    {% include _components/_btn.html btn-class='btn-danger btn-sm btn-square' btn-title='' %}
                    {% include _components/_btn.html btn-class='btn-primary btn-sm btn-square' btn-title='' %}
                    {% include _components/_btn.html btn-class='btn-light btn-sm btn-square' btn-title='' %}
                    {% include _components/_btn.html btn-class='btn-warning btn-sm btn-square' btn-title='' %}
                    {% include _components/_btn.html btn-class='btn-success btn-sm btn-square' btn-title='' %}
                    {% include _components/_btn.html btn-class='btn-info btn-sm btn-square' btn-title='' %}
                    {% include _components/_btn.html btn-class='btn-dark btn-sm btn-square' btn-title='' %}


                </div>
            </div>
        </div>


        {% endif %}

    </div>

</div>