.section {
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0;
}

.content{
  background: #F5F5F5;
  @extend .padding-xs;
  border: 2px solid #e2e2e2;


}

.section-align{
  .example{
    min-height:15rem;

  }
}
.grid-examples{
  [class^=col] {
    padding-bottom: 24px;

  }
  .no-gutters {
    [class^=col] {
      padding-bottom: 0;
    }
  }
}


.grid-examples{
  .container{
    max-width: 960px;
  }
}
pre{
  @extend .bg-light;
  padding: 1em;
}

.media-img{
  max-width: 64px;
}

.side-bar{
  @extend .bg-light;
  position: sticky;
  top:0;
  z-index: 1000;
  height: calc(100vh);

}