
{% include _blocks/_header.html %}



<main>

    <section class="border-bottom bg-light padding-v-m">
        <div class="container">

            <div class="row">
                <div class="col-md-6 justify-content-center">
                    {% include _components/_img.html img="img/cover.jpg" picture-fit="contain" ratio="img-ratio--4-3"   %}


                </div>
                <div class="col-md-6  justify-content-center">

                    {% include _components/_h3.html title="Esto es un título" %}
                    {% include _components/_copy.html %}


                </div>
            </div>

        </div>
    </section>
    <section class="border-bottom bg-light padding-v-m">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-md-6 justify-content-center">
                    {% include _components/_img.html img="img/cover.jpg" picture-fit="cover" ratio="img-ratio--4-3"   %}


                </div>
                <div class="col-md-6  justify-content-center">

                        {% include _components/_h3.html title="Esto es un título" %}
                        {% include _components/_copy.html %}


                </div>
            </div>

        </div>
    </section>
    <section class="border-bottom bg-light">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-md-6 justify-content-center padding-v-xxl">
                    {% include _components/_img.html img="img/cover.jpg" picture-fit="cover" ratio="img-ratio--4-3"   %}

                </div>
                <div class="col-md-6 justify-content-center ">

                    {% include _components/_h3.html title="Esto es un título" %}
                    {% include _components/_copy.html %}

                </div>
            </div>

        </div>
    </section>

    <section class="border-bottom bg-light padding-v-m">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-md-6 justify-content-center ">
                    {% include _components/_mapa.html picture-fit="contain" ratio="img-ratio--4-3"   %}


                </div>
                <div class="col-md-6  justify-content-center ">

                    {% include _components/_h3.html title="Esto es un título" %}
                    {% include _components/_copy.html %}


                </div>
            </div>

        </div>
    </section>
    <section class="border-bottom bg-light padding-v-m">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-md-6 justify-content-center">
                    {% include _components/_mapa.html picture-fit="contain" ratio="img-ratio--4-3"   %}


                </div>
                <div class="col-md-6  justify-content-center">

                    {% include _components/_h3.html title="Esto es un título" %}
                    {% include _components/_copy.html %}


                </div>
            </div>

        </div>
    </section>
    <section class="border-bottom bg-light">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-md-6 justify-content-center padding-v-xxl">
                    {% include _components/_mapa.html picture-fit="contain" ratio="img-ratio--4-3"   %}

                </div>
                <div class="col-md-6 justify-content-center">

                    {% include _components/_h3.html title="Esto es un título" %}
                    {% include _components/_copy.html %}

                </div>
            </div>

        </div>
    </section>


    <section class="padding-v-l border-bottom ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col align-self-center  justify-content-center">
                    {% include _components/_h2.html title="Esto es  un título de bloque" %}
                </div>
            </div>
            <div class="row align-items-top">
                <section class="col-md-4">
                    {% include _element/_card.html %}
                </section>
                <section class="col-md-4">
                    {% include _element/_card.html %}
                </section>
                <section class="col-md-4 ">
                    {% include _element/_card.html %}
                </section>



            </div>

        </div>
    </section>



    <!--<section class="padding-v-l  border-bottom bg-light">-->
        <!--<div class="container">-->
            <!--<div class="row align-items-center">-->
                <!--<div class="col align-self-center  justify-content-center">-->
                    <!--<h2>h2. Lista de elementos</h2>-->
                <!--</div>-->
            <!--</div>-->
            <!--<ul class="row align-items-top">-->
                <!--{% include  _element/_li_title_text.html  title="Grilled Calmari" text="Consectetur dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.." %}-->
                <!--{% include  _element/_li_title_text.html  title="Beef Burger" text="Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem." %}-->
                <!--{% include  _element/_li_title_text.html  title="Cornouailles" text="Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem." %}-->
                <!--{% include  _element/_li_title_text.html  title="Grilled Calmari" text="Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis." %}-->



            <!--</ul>-->



            <!--</ul>-->

        <!--</div>-->
    <!--</section>-->

    <section class="padding-v-xl border-bottom block-element-icon">
        <div class="container">
            <div class="row align-items-top">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    {% include  _element/_icon_box.html img-type="icon" icon="camera-retro" title="A tu alcance" %}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    {% include  _element/_icon_box.html img-type="icon" icon="heart" title="Sin límites" %}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    {% include  _element/_icon_box.html img-type="icon"  icon="desktop" title="A tu medida" %}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    {% include  _element/_icon_box.html img-type="icon"  icon="music" title="Siempre online" %}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    {% include  _element/_icon_box.html img-type="icon" icon="paint-brush"  title="Mejor servicio" %}
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    {% include  _element/_icon_box.html img-type="icon"  icon="star" title="Mayor atención" %}
                </div>

            </div>


        </div>
    </section>


    <!--<section class="padding-v-xl  border-bottom bg-light">-->
        <!--<div class="container">-->
            <!--<div class="row align-items-top">-->
                <!--<div class="col-md-12">-->
                    <!--{% include  _element/_form.html icon="camera" %}-->
                <!--</div>-->


            <!--</div>-->


        <!--</div>-->
    <!--</section>-->

</main>

