<div class="container-fluid">

    <div class="row">
        <div class="col-md-3 " style="max-width:260px">
            {% include _guide/_sidebar.html %}

        </div>

        <div class="col-md-9">

            {% include _guide/_grid.html %}

            {% include _guide/_containers.html %}

            {% include _guide/_borders.html %}




            {% include _guide/_anidar.html %}

            {% include _guide/_offset.html %}

            {% include _guide/_aligns.html %}









        </div>

    </div>
</div>






