<div class="">

    <div class="row">
        <div class="col-md-3 ">
            {% include _guide/_sidebar.html %}

        </div>

        <div class="col-md-9">

            {% include _guide/_grid.html %}

            {% include _guide/_borders.html %}




            {% include _guide/_anidar.html %}

            {% include _guide/_offset.html %}

            {% include _guide/_aligns.html %}

            {% include _guide/_bloque6-6.html %}

            {% include _guide/_bloque1-3.html %}

            {% include _guide/_bloque12.html %}

            {% include _guide/_text-group.html %}

            {% include _guide/_elements.html %}




        </div>

    </div>
</div>






