<div class="container">
    <header>
        <nav class="navbar navbar-dark bg-dark padding-xs">
            <h1 style="color: white">Siweb guide</h1>
        </nav>
    </header>
    <div class="row">
        <div class="col-md-3 ">
            {% include _guide/_sidebar.html %}

        </div>

        <div class="col-md-9 grid-examples">

            {% include _guide/_grid.html %}

            {% include _guide/_borders.html %}




            {% include _guide/_anidar.html %}

            {% include _guide/_offset.html %}

            {% include _guide/_media-object.html %}


            {% include _guide/_text-group.html %}






        </div>

    </div>
</div>





