/*Breakpoints*/
$mobile:"only screen and (min-width: 0)";
$tablet:"only screen and (min-width: 480px)";
$big-tablet:"only screen and (min-width: 720px)";
$desktop:"only screen and (min-width: 960px)";
$big-screen:"only screen and (min-width: 1440px)";
