/*Breakpoints*/
$mobile:"only screen and (min-width: 0)";
$tablets:"only screen and (min-width: 480px)";
$desktop:"only screen and (min-width: 960px)";
$big-screen:"only screen and (min-width: 1200px)";
