<div class="">
    <div class="media-top">
        <div class="row align-items-top">
            <div class="col-md-3">
                {% include _components/_icon.html  %}


            </div>
            <div class="col-md-9">
                {% include _components/_h4.html  %}
            </div>
        </div>
    </div>
    <div class="media-bottom">

        <div class="row">

            <div class="col-md-9  offset-md-3">
                <p>Morbi elit justo vel nec purus at ligula ex volutpat sapien primi justo morbi elit vel nec purus at ligula ex volutpat sapien primis.
                </p>
            </div>
        </div>
    </div>


</div>