<div class="element overlay-element">
  <a class="overlay-link" href="#">
      <div class="overlay-body text-center">
          <div class="overlay-content d-flex flex-column justify-content-center align-items-center">
              {% include _components/_h4.html title="Title" %}

              <p>Eluptatem quias.</p>

              {% include _components/_btn.html  class="btn-primary" title-btn="Ver más" %}
          </div>




      </div>
      <div class="overlay-image">

          {% include _components/_figure.html  picture-fit="cover" ratio="img-ratio--4-3" %}


      </div>
  </a>

</div>
