<div class="pagination {{ include.pagination-class }}">

{% include _components/_btn.html  btn-class="btn-outline-secondary" btn-title="<" %}
{% include _components/_btn.html  btn-class="btn-link" btn-title="1" %}
{% include _components/_btn.html  btn-class="btn-primary" btn-title="2" %}
{% include _components/_btn.html  btn-class="btn-link" btn-title="3" %}
{% include _components/_btn.html  btn-class="btn-link" btn-title="4" %}
...
{% include _components/_btn.html  btn-class="btn-link" btn-title="10" %}
{% include _components/_btn.html  btn-class="btn-outline-secondary" btn-title=">" %}


</div>

