<div class="element target">
    <div class="target-image {{ include.type }} position-relative">
        {% include _elements/_overlay.html img="img/cover.jpg" picture-fit="cover" ratio="img-ratio--4-3" %}
        <!--{% include _components/_icon.html icon="heart"  %}-->

    </div>
    <div class="target-body">
        <h4>h4 título de elemento</h4>
        <p><small>Eluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magnionseq uuntur magni dolores eos.</small></p>

        {% include _components/_btn.html title-btn="Ver más" %}
    </div>


</div>
