<div class="element target">
    <div class="target-image {{ include.type }} position-relative">
        <!--{% include _elements/_overlay.html img="img/cover.jpg" picture-fit="cover" ratio="img-ratio&#45;&#45;4-3" %}-->
        {% include _components/_img.html %}

    </div>
    <div class="target-body">
        <h4>h4 título de elemento</h4>
        <p>Eluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magnionseq uuntur magni dolores eos.</p>

        {% include _components/_btn.html  class="btn-primary" title-btn="Ver más" %}
    </div>


</div>
