.content-entry{
   position: relative;
   margin-left: auto;
  margin-right: auto;
   max-width: 616px;



  @media #{$big-tablet}{
    margin-top: 10%;
    margin-bottom: 10%;
    .second-col &{
      margin-left: 2vw;
      margin-right: 0;
      .container &{
        margin-left: 2vw;
        margin-right: 0;
      }
      .flex-row-reverse & {
        margin-left: 0;
        margin-right: 2vw;
        .container &{
          margin-left: 0;
          margin-right: 2vw;
        }
      }
    }

    .first-col &{
      margin-left: 0;
      margin-right: 2vw;
      .container &{
        margin-left: 0;
        margin-right: 2vw;

      }
    }
    .first-col & {
      .flex-row-reverse & {
        margin-left: 2vw;
        margin-right: 0;
        .container &{
          margin-left: 2vw;
          margin-right: 0;

        }
      }
    }
    .block-fullscreen.block-cover &{
      padding: 10%;

    }

  }
  @media #{$big-screen}{
    .second-col &{
      margin-left: 20%;
      margin-right: 20%;
      .container &{
        margin-left: 2vw;
        margin-right: 0;
      }
      .flex-row-reverse & {
        margin-left: 20%;
        margin-right: 20%;
        .container &{
          margin-left: 0;
          margin-right: 2vw;
        }
      }
    }

    .first-col &{
      margin-left: 20%;
      margin-right: 20%;
      .container &{
        margin-left: 0;
        margin-right: 2vw;

      }
    }
    .first-col & {
      .flex-row-reverse & {
        margin-left: 20%;
        margin-right: 20%;
        .container &{
          margin-left: 2vw;
          margin-right: 0;

        }
      }
    }

  }
  @media #{$big-screen}{


    .container-fluid &{
      .block-fullscreen &{
        padding: 10%;
      }
    }

  }


}
