.content-entry{
   margin: 0 auto;
   position: relative;
   padding: 1rem;
  @media #{$desktop}{
    padding: 1rem 5%;
  }
    .block-cover &{
      padding-top: 2rem;
      @media #{$desktop}{
        padding: 1rem 20%;
      }
    }
    .block-iframe &{
      padding-top: 2rem;

    }

}