.content-entry{
   margin: 0 auto;
   position: relative;
   padding: 1rem;
  @media #{$desktop}{
    padding-left: 5%;
    padding-right: 15%;
    .first-col &{
      padding-left: 15%;
      padding-right: 5%;
    }
    .first-col & {
      .flex-row-reverse & {
          padding-left: 5%;
          padding-right: 15%;

      }
    }
    .second-col & {
      .flex-row-reverse & {
        padding-left: 15%;
        padding-right: 5%;

      }
    }
  }

    .block-iframe &{
      padding-top: 2rem;

    }

}
