/*ALTURAS DE BLOQUE*/


$paddings: (
        'xs': 0em,
        's': 2.5em,
        'm': 5em,
        'l': 10em,
        'xl': 20em,
        'xxl': 30em,
);


@media #{$desktop}{
  @each $section, $padding in $paddings {
    .block-height-#{$section} {
      padding-top: $padding;
      padding-bottom: $padding;
       &.block-cover {
         padding-top: 0;
         padding-bottom: 0;
         .cover-item{
           padding-top: $padding;
           padding-bottom: $padding;
         }
       }
    }
  }
}


.block-height-full{
  height: auto;
  min-height: 100vh;
  &.block-cover {
    height: inherit;
    min-height: inherit;
    [class*="col-"]{
      height: auto;
      min-height: 100vh;

    }
  }
}