.img-ratio{
  &--1-1{
     height: 0;
    padding-bottom: 100%;
  }
  &--4-3{
    height: 0;
    padding-bottom: 75%;
  }
  &--16-9{
    height: 0;
    padding-bottom: 56.25%;
  }
  &--3-4{
    height: 0;
    padding-bottom: 133%;
  }
  &--9-16{
    height: 0;
    padding-bottom: 177%;
  }
}

