/*CLASES PADDINGS*/




$paddings: (
        'xxs': 0px,
        'xs': 5px,
        's': 10px,
        'm': 15px,
        'l': 20px,
        'xl': 25px,
);

@each $section, $padding in $paddings {
  .padding-#{$section} {
    padding: $padding;
  }
}




@each $section, $padding in $paddings {
  .padding-v-#{$section} {
    padding-top: $padding;
    padding-bottom: $padding;

  }
}

@each $section, $padding in $paddings {
  .padding-h-#{$section} {
    padding-left: $padding;
    padding-right: $padding;

  }
}
