/*CLASES PADDINGS*/


$paddings: (
        'xxs': 0em,
        'xs': 1em,
        's': 2em,
        'm': 3em,
        'l': 4em,
        'xl': 5em,
        'xxl': 10em,
);

@each $section, $padding in $paddings {
  .padding-#{$section} {
    padding: $padding;
  }
}




@each $section, $padding in $paddings {
  .padding-v-#{$section} {
    padding-top: $padding;
    padding-bottom: $padding;

  }
}

@each $section, $padding in $paddings {
  .padding-h-#{$section} {
    padding-left: $padding;
    padding-right: $padding;


  }

}



