.vertical-align{
  &-top{
    display: table-cell;
    vertical-align: top;
  }
  &-middle{
    display: table-cell;
    vertical-align: middle;
  }
  &-bottom{
    display: table-cell;
    vertical-align: bottom;
  }


}