<div class="filters-group filter-brand">
    <strong>{% include _components/_span.html text="Marcas" %}</strong>
    <hr>
    {% include _components/_input.html class="" placeholder="Buscar" %}
    <div class="form-check-group">
        {% include _components/_check.html class=""  text="Nike"  %}
        {% include _components/_check.html class=""  text="Adidas"  %}
        {% include _components/_check.html class=""  text="Converse"  %}
        {% include _components/_check.html class=""  text="New Balance"  %}
        {% include _components/_check.html class=""  text="Asics" status="disabled" %}
        {% include _components/_check.html class=""  text="Converse"  %}
        {% include _components/_check.html class=""  text="Converse"  status="disabled" %}
        {% include _components/_check.html class=""  text="Converse"  %}
        {% include _components/_check.html class=""  text="Converse"  %}
    </div>
</div>
