.list-products{
   padding: 1em 0;
}

.product-item{
   margin-bottom: 2rem;
   p{
      line-height: 1;
      margin-bottom: .5em;
   }
   .btn{
      margin-top:.5em;
      margin-bottom: .5em;
   }
   h5{
      margin-bottom: 0;
      margin-top: 0.5em !important;
   }
}

.title-product-bar{
   .title{
      margin: 0.5em 0;
   }
   .select-width{
      width:70%;
   }
}
.product-badge{
   min-width: 4rem;
   text-align: right;
   .badge{
      @media #{$desktop}{
      font-size: 85%;
    }
   }
}
.product-item-horizontal{
   .target-image{
      padding: 0;
   }
   .title{
      margin-top: 0;
   }
}