<!--surround the select box within a "custom-select" DIV element.
Remember to set the width:-->
<form class="form-inline select-group justify-content-around">
    <div class="">
        <label>Filtrar:</label>
    </div>
    <div class="" style="width: 80%">
        <div class="custom-select">
            <select>
                <option value="0">Ordenar por:</option>
                <option value="1">Precio ascendente</option>
                <option value="2">Precio desscendente</option>
                <option value="3">Novedades</option>

            </select>
        </div>
    </div>


</form>
