<!--surround the select box within a "my-select" DIV element.
Remember to set the width:-->
<form class="form-inline select-group {{ include.justify }}">
    <div class="mr-3">
        <label>{{ include.title-select }}</label>
    </div>
    <div class="select-width">
        <div class="my-select">
            <select>
                <option value="0">{{ include.option0 }}</option>
                <option value="1">{{ include.option1 }}</option>
                <option value="2">{{ include.option2 }}</option>
                <option value="3">{{ include.option3 }}</option>

            </select>
        </div>
    </div>


</form>
