.section {
  border-bottom: 1px solid #e2e2e2;
  padding: 20px 0;
}

.content{
  background: #F5F5F5;
  @extend .padding-xs;
  border: 2px solid #e2e2e2;


}

.section-align{
  .example{
    min-height:15rem;

  }
}
.col-padding-bottom{
  [class^=col] {
    padding-bottom: 24px;

  }
  .no-gutters {
    [class^=col] {
      padding-bottom: 0;
    }
  }
}


pre{
  padding: 1em;
}

.media-img{
  max-width: 64px;
}

.side-bar{
  @extend .bg-light;
  position: sticky;
  top:0;
  z-index: 1000;
  height: calc(100vh);

}

.textgroup{
  img{
    width:200px;
  }
}
.block{
  margin: 30px;
  @include box-shadow(0px, 0, 16px, rgba(0,0,0,0.2));
 // transform: scale3d(.9,.9,.9);
}

.element{
  @include box-shadow(0px, 0, 16px, rgba(0,0,0,0.2));
}
