<section id="align" class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 justify-content-sample-center">
                <h2>Siweb grid alineado horizontal</h2>

            </div>
        </div>
        <pre>.justify-content-sample-center</pre>
        <div class="row justify-content-sample-center" >
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>

            </div>
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>
            </div>
        </div>
        <pre>.justify-content-sample-start</pre>
        <div class="row justify-content-sample-start" >
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>

            </div>
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>
            </div>
        </div>
        <pre>.justify-content-sample-end</pre>
        <div class="row justify-content-sample-end" >
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>

            </div>
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>
            </div>
        </div>
        <pre>.justify-content-sample-between</pre>
        <div class="row justify-content-sample-between" >
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>

            </div>
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>
            </div>
        </div>
        <pre>.justify-content-sample-around</pre>
        <div class="row justify-content-sample-around" >
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>

            </div>
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="content-sample">
                    col-sm-12 col-md-3
                </div>
            </div>
        </div>

    </div>
</section>
<section id="valign" class="section section-align">

    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Alinear verticalmente</h2>
            </div>
        </div>
        <pre>.row .align-items-start</pre>

        <div class="row align-items-start example">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="content-sample">
                    <p>This cell should be top-aligned.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="content-sample">
                    <p>Top-aligned media in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="content-sample">
                    <p>This cell should be top-aligned.</p>
                </div>
            </div>
        </div>
        <br>
        <pre>.row .align-items-center</pre>

        <div class="row align-items-center example">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="content-sample">
                    <p>This cell should be center-aligned.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="content-sample">
                    <p>Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh. Ut interdum ligula id metus hendrerit cursus. Integer eu leo felis. Aenean commodo ultrices nunc, sit amet blandit elit gravida in.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="content-sample">
                    <p>This cell should be center-aligned.</p>
                </div>
            </div>
        </div>
        <br>
        <pre>.row .align-items-end</pre>

        <div class="row align-items-end example">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="content-sample">
                    <p>This cell should be bottom-aligned.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="content-sample">
                    <p>Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh. Ut interdum ligula id metus hendrerit cursus. Integer eu leo felis. Aenean commodo ultrices nunc, sit amet blandit elit gravida in.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="content-sample">
                    <p>This cell should be bottom-aligned.</p>
                </div>
            </div>
        </div>
    </div>
</section>