

<section id="bloque12" class="block block-cover">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12   padding-v-xxl">
                {% include _components/_figure.html img="img/cover.jpg" picture-fit="cover" figure-caption-absolute="figure-caption-absolute"  %}


            </div>
        </div>

    </div>
</section>
<section class="block block-cover ">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12  padding-v-xxl">
                {% include _components/_mapa.html img="img/cover.jpg" picture-fit="cover"   %}


            </div>
        </div>

    </div>
</section>

<section class="block height-block-m">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12">
                {% include _components/_h2.html title="Título para bloque sólo texto" %}
                {% include _components/_lead.html title="Lorem ipsum dolor sit amet consectetuer elit." %}
                {% include _components/_copy.html %}

            </div>
        </div>

    </div>
</section>

<section class="block height-block-m">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xs-12 col-sm-12 col-md-8  col-lg-8">
                {% include _components/_h2.html title="Título para bloque sólo texto" %}
                {% include _components/_lead.html title="Lorem ipsum dolor sit amet consectetuer elit." %}
                {% include _components/_copy.html %}

            </div>
        </div>

    </div>
</section>
