<div id="bloque1-3" class="row">
    <div class="col-md-12 ">
        <pre>Con .justify-content-center/top o end alineamos verticalmente el texto e imagen.</pre>
        <pre>Para los bloques 1/3 se utilizarán col-4 y col-8</pre>
    </div>
</div>

<section  class="block border-bottom block-height-s">
    <div class="container">
        <div class="row align-items-center">
            <div class="first-col col-xs-12 col-sm-12 col-md-5 col-lg-4 ">
                <div class="content-entry">
                {% include _components/_figure.html img="img/cover.jpg" picture-fit=""    %}
                </div>

            </div>
            <div class="second-col col-xs-12 col-sm-12 col-md-7 col-lg-8 ">
              <div class="content-entry">

                {% include _components/_h3.html title="Mostramos la imagen en sus proporciones reales" %}
                {% include _components/_copy.html %}
              </div>

            </div>
        </div>

    </div>
</section>






<section class="block block-cover ">
    <div class="container-fluid">

        <div class="row align-items-center">
            <div class="first-col col-xs-12 col-sm-12 col-md-5 col-lg-4  align-self-stretch">
                {% include _components/_figure.html img="img/cover.jpg" picture-fit="cover" ratio="img-ratio--square" figure-caption-absolute="figure-caption-absolute"   %}

            </div>
            <div class="second-col col-xs-12 col-sm-12 col-md-7  col-lg-8">
                <div class="content-entry">
                {% include _components/_h3.html title="Mostramos la imagen con altura 100% dependiendo del padding del col con cover" %}
                {% include _components/_copy.html %}
                </div>

            </div>
        </div>

    </div>
</section>

<!--Bloques de mapa-->
<section class="block block-height-s">


    <div class="container">

        <div class="row align-items-center">
            <div class="first-col col-xs-12 col-sm-12 col-md-5 col-lg-4 ">
                <div class="content-entry">
                {% include _components/_mapa.html  ratio="img-ratio--4-3"  %}
                </div>

            </div>
            <div class="second-col col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <div class="content-entry">
                {% include _components/_h3.html title="Mapa según ratio" %}
                {% include _components/_copy.html %}
                </div>

            </div>
        </div>

    </div>
</section>
<section class="block block-cover ">
    <div class="container-fluid">

        <div class="row align-items-center">
            <div class="first-col col-xs-12 col-sm-12 col-md-5 col-lg-4   align-self-stretch">
                {% include _components/_mapa.html   ratio="img-ratio--4-3"    %}

            </div>
            <div class="second-col col-xs-12 col-sm-12 col-md-7  col-lg-8">
                <div class="content-entry">
                {% include _components/_h3.html title="Mapa según altura de bloque" %}
                {% include _components/_copy.html %}
                </div>

            </div>
        </div>

    </div>
</section>

