

<section class="block block-height-m">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12">
                <div class="content-entry">
                    {% include _components/_h2.html title="Título para bloque sólo texto" %}
                    {% include _components/_lead.html title="Lorem ipsum dolor sit amet consectetuer elit." %}
                    {% include _components/_copy.html %}
                </div>
            </div>
        </div>

    </div>
</section>

<section class="block block-height-l">
    <div class="container container-m">
        <div class="row justify-content-center align-items-center">
            <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
                <div class="content-entry">
                {% include _components/_h2.html title="Título para bloque sólo texto" %}
                {% include _components/_lead.html title="Lorem ipsum dolor sit amet consectetuer elit." %}
                {% include _components/_copy.html %}
                </div>

            </div>
        </div>

    </div>
</section>
