<div class="container">
    <div  id="bloque6-6" class="row">
        <div class="col-md-12 ">
            <pre>Con .align-items-start/center/end o end alineamos verticalmente el texto e imagen</pre>
        </div>
    </div>
</div>
<!--Bloque con imagen y container-->
<section class="block border-bottom block-height-s">
    <div class="container">
        <div class="row align-items-center">
            <div class="first-col col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                <div class="content-entry">
                {% include _components/_figure.html img="img/cover.jpg" picture-fit=""    %}
                </div>

            </div>
            <div class="second-col col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="content-entry">

                {% include _components/_h3.html title="Mostramos la imagen en sus proporciones reales" %}
                {% include _components/_copy.html %}
                {% include _components/_btn.html  btn-class="btn-primary" btn-title="Más información" %}
              </div>

            </div>
        </div>

    </div>
</section>

<!--Bloque con imagen y container reverso-->
<section class="block border-bottom block-height-s">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="first-col col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                <div class="content-img">
                    {% include _components/_figure.html img="img/cover.jpg" picture-fit=""    %}
                </div>

            </div>
            <div class="second-col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="content-entry">

                    {% include _components/_h3.html title="Mostramos la imagen en sus proporciones reales" %}
                    {% include _components/_copy.html %}
                    {% include _components/_btn.html  btn-class="btn-primary" btn-title="Más información" %}
                </div>

            </div>
        </div>

    </div>
</section>

<!--Bloque con imagen cover-->
<section class="block block-cover block-height-xl">
    <div class="container-fluid" >
        <div class="row align-items-center">
            <div class="first-col col-xs-12 col-sm-12 col-md-6 col-lg-6 align-self-stretch cover-item">
                {% include _components/_figure.html img="img/cover.jpg" picture-fit="cover" ratio="img-ratio--16-9" figure-caption-absolute="figure-caption-absolute"   %}
            </div>
            <div class="second-col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="content-entry">
                {% include _components/_h3.html title="Mostramos la imagen con altura 100% dependiendo del padding del col con cover" %}
                {% include _components/_copy.html %}
                {% include _components/_btn.html  btn-class="btn-primary" btn-title="Más información" %}
                </div>
            </div>
        </div>
    </div>
</section>

<!--Bloque con imagen cover reverso-->
<section class="block block-cover  block-height-xl">
    <div class="container" >
        <div class="row align-items-center  flex-row-reverse">
            <div class="first-col col-xs-12 col-sm-12 col-md-6 col-lg-6 align-self-stretch cover-item">
                {% include _components/_figure.html img="https://images.unsplash.com/photo-1515215676803-119c88d493cf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=baf00747bfb9fe41ad9af8cf00dbebbf&auto=format&fit=crop&w=1350&q=80" picture-fit="cover" ratio="img-ratio--16-9" figure-caption-absolute="figure-caption-absolute"   %}

            </div>
            <div class="second-col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="content-entry">
                    {% include _components/_h3.html title="Mostramos la imagen con altura 100% dependiendo del padding del col con cover" %}
                    {% include _components/_copy.html %}
                    {% include _components/_btn.html  btn-class="btn-primary" btn-title="Más información" %}
                </div>

            </div>
        </div>

    </div>
</section>

<div class="container">
    <div  class="row">
        <div class="col-md-12 ">
            <pre>Podemos elegir el ratio del mapa con las clases: .img-ratio--4-3,.img-ratio--16-9, .img-ratio--square...</pre>
        </div>
    </div>
</div>

<!--Bloques de mapa-->

<section class="block block-iframe block-height-s">


    <div class="container">

        <div class="row align-items-center">
            <div class="first-col col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                <div class="content-entry">
                {% include _components/_mapa.html  ratio="img-ratio--4-3"  %}
                </div>

            </div>
            <div class="second-col col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                <div class="content-entry">
                {% include _components/_h3.html title="Mapa según ratio" %}
                {% include _components/_copy.html %}
                    {% include _components/_btn.html  btn-class="btn-primary" btn-title="Más información" %}
                </div>

            </div>
        </div>

    </div>
</section>

<!--Bloques de mapa reverso-->
<section class="block block-iframe block-height-s">


    <div class="container">

        <div class="row align-items-center flex-row-reverse">
            <div class="first-col col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                <div class="content-entry">
                    {% include _components/_mapa.html  ratio="img-ratio--4-3"  %}
                </div>

            </div>
            <div class="second-col col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                <div class="content-entry">
                    {% include _components/_h3.html title="Mapa según ratio" %}
                    {% include _components/_copy.html %}
                    {% include _components/_btn.html  btn-class="btn-primary" btn-title="Más información" %}
                </div>

            </div>
        </div>

    </div>
</section>

<!--Bloques de mapa cover-->
<section class="block block-iframe block-cover block-height-m">
    <div class="container-fluid">

        <div class="row align-items-center">
            <div class="first-col col-xs-12 col-sm-12 col-md-6 col-lg-6  align-self-stretch cover-item">
                {% include _components/_mapa.html   ratio="img-ratio--4-3"    %}

            </div>
            <div class="second-col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="content-entry">
                {% include _components/_h3.html title="Mapa según altura de bloque" %}
                {% include _components/_copy.html %}
                    {% include _components/_btn.html  btn-class="btn-primary" btn-title="Más información" %}
                </div>

            </div>
        </div>

    </div>
</section>

<!--Bloques de mapa cover reverso-->
<section class="block block-iframe block-cover block-height-m">
    <div class="container-fluid">

        <div class="row align-items-center flex-row-reverse">
            <div class="first-col col-xs-12 col-sm-12 col-md-6 col-lg-6  align-self-stretch cover-item">
                {% include _components/_mapa.html   ratio="img-ratio--square"    %}

            </div>
            <div class="second-col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="content-entry">
                    {% include _components/_h3.html title="Mapa según altura de bloque" %}
                    {% include _components/_copy.html %}
                    {% include _components/_btn.html btn-class="btn-primary" btn-title="Más información" %}
                </div>

            </div>
        </div>

    </div>
</section>


<!--Bloque con texto y formulario-->
<section class="block border-bottom block-height-l">
    <div class="container">
        <div class="row align-items-center">
            <div class="first-col col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                <div class="content-entry">
                    {% include _components/_h1.html title="Título para landing" %}
                    {% include _components/_lead.html title="Lorem ipsum dolor sit amet consectetuer elit." %}
                    {% include _components/_list.html %}
                </div>

            </div>
            <div class="second-col col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="content-entry">

                    {% include _components/_h3.html title="Más información" %}
                    {% include _components/_lead.html title="No dudes en ponerte en contacto" %}
                    {% include _elements/_form.html %}
                </div>

            </div>
        </div>

    </div>
</section>