
<section id="containers" class="">
    <h2>Containers</h2>
    <div class="container-fluid">
        <div class="content-sample text-center">
            <p>container-fluid 100% <small> (width: 100%)</small> </p>
        </div>
    </div>
    <br>
    <div class="container container-l">
        <div class="content-sample text-center">
            <p> container container-l <small> (max-width: 1140px)</small> </p>
        </div>
    </div>
    <br>
    <div class="container container-m">
        <div class="content-sample text-center">
            <p> container container-m <small> (max-width: 960px)</small>  </p>
        </div>
    </div>
    <br>
    <div class="container container-s">
        <div class="content-sample text-center">
            <p> container container-s <small> (max-width: 720px) </small> </p>
        </div>
    </div>
    <br>
    <div class="container container-xs">
        <div class="content-sample text-center">
            <p> container container-xs<small>  (max-width: 540px) </small> </p>
        </div>
    </div>

</section>
