<section>
    <h3 id="media">List menu</h3>
    <hr>

    <div class="row justify-content-center padding-v-m">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <ul>
                {% include _elements/_li_title_text.html title="Salmon Tartar" text="Edita este párrafo con tu propio contenido. Haz click aquí y añade tus propios textos." %}

                {% include _elements/_li_title_text.html title="Beef Burger" text="Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin" %}

                {% include _elements/_li_title_text.html title="Cornouailles" text="Fusce condimentum nunc ac nisi vulputate fringilla. ." %}

                {% include _elements/_li_title_text.html title="Grilled Calmari" text="Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus." %}

            </ul>
        </div>

    </div>
</section>

