
                <h3 id="media">Media object</h3>
                <hr>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                {% include _elements/_media.html valign="top" icon="heart" %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                {% include _elements/_media.html valign="top" icon="desktop" %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                {% include _elements/_media.html valign="top" icon="eye" %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                {% include _elements/_media.html valign="top" icon="comment" %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                {% include _elements/_media.html valign="top" icon="paint-brush" %}
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
                {% include _elements/_media.html valign="top" icon="tint" %}
            </div>


        </div>
    </div>
</section>