<section id="media" class="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Media object</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="media">
                    <div class="media-img align-self-start mr-3">
                        {% include _components/_icon.html  icon="camera-retro" %}
                    </div>


                    <div class="media-body">
                        <h5 class="mt-0">Top-aligned media Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vu</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="media">
                    <div class="media-img align-self-start mr-3">
                        <img  class="img-fluid" src="img/cover.jpg" alt="Generic placeholder image" >
                    </div>

                    <div class="media-body">
                        <h5 class="mt-0">Top-aligned media</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="media">
                    <div class="align-self-center mr-3">
                        {% include _components/_icon.html  icon="heart" %}
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0">Center-aligned media Top-aligned media Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vu</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="media">
                    <div class="media-img align-self-center mr-3">
                        <img class="img-fluid" src="img/cover.jpg" alt="Generic placeholder image" >
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0">Center-aligned media</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="media">
                    <div class="align-self-end mr-3">
                        {% include _components/_icon.html  icon="desktop" %}
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0">End-aligned media Top-aligned media Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vu</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="media">
                    <div class="media-img align-self-end mr-3">
                        <img  class="img-fluid"  src="img/cover.jpg" alt="Generic placeholder image" >
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0">End-aligned media</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>