<section>

    <div class="container">

        <h3 id="media">Media object</h3>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
                {% include _elements/_media.html valign="top" icon="heart"  icon-size="3" %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                {% include _elements/_media.html valign="top" icon="desktop"  icon-size="3" %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                {% include _elements/_media.html valign="top" icon="eye"  icon-size="3" %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                {% include _elements/_media.html valign="top" icon="comment"  icon-size="3" %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                {% include _elements/_media.html valign="top" icon="paint-brush"  icon-size="3" %}
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">
                {% include _elements/_media.html valign="top" icon="tint"  icon-size="3" %}
            </div>


        </div>
    </div>
</section>


