<section id="offset" class="section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Offset</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="content">
                    col-md-4
                </div>

            </div>
            <div class="col-sm-12 col-md-8">
                <div class="content">
                    col-md-8
                </div>
            </div>

            <div class="col-sm-12 offset-md-4 col-md-8">
                <div class="content">
                    offset-md-4 col-md-8
                </div>
            </div>
        </div>

    </div>
</section>