<section class="padding-v-l">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 id="overlay">Overlay</h3>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                {% include _elements/_overlay.html %}

            </div>
            <div class="col-md-4">
                {% include _elements/_overlay.html %}
            </div>
            <div class="col-md-4">
                {% include _elements/_overlay.html %}
            </div>
            <div class="col-md-6">
                {% include _elements/_overlay.html %}
            </div>
            <div class="col-md-6">
                {% include _elements/_overlay.html %}
            </div>

        </div>
    </div>

</section>
