<div class="side-bar border-right border-left padding-v-l">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#grid">Grid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#grid-no-gutter">Grid sin márgenes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#borders">Bordes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#align">Alineación horizontal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#valign">Alineación vertical</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#offset">Offset</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#textgroup">Text group</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#elements">N Elementos</a>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#target"> Target</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#target-icon"> Target icon</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#media"> Media object</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#overlay"> Overlay</a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="">Bloques</a>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#bloque6-6"> Bloque 6-6</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#bloque12"> Bloque 12</a>
                </li>
            </ul>
        </li>
    </ul>

</div>