<div class="side-bar border-right border-left padding-v-l">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#grid">Grid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#grid-no-gutter">Grid sin márgenes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#borders">Bordes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#align">Alineación horizontal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#valign">Alineación vertical</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#offset">Offset</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#textgroup">Text group</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#elements">N Elementos</a>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#card"> Card type</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#media"> Media object</a>
                </li>
            </ul>
        </li>

    </ul>

</div>