<div class="side-bar border-right border-left">
    <div class="text-center padding-v-l">
        <img class="brand" src="https://v2.siweb.es/bundles/xilonsiwebweb/Panel/img/sw-logo-new.png" style="width:64px">
       <p><small>Styleguide</small></p>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#grid">Grid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#grid-no-gutter">Grid sin márgenes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#borders">Bordes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#align">Alineación horizontal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#valign">Alineación vertical</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#offset">Offset</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#textgroup">Text group</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#elements">N Elementos</a>
            <ul class="nav submenu flex-column">
                <li class="nav-item-sub">
                    <a class="nav-link" href="#target"> Target</a>
                </li>
                <li class="nav-item-sub">
                    <a class="nav-link" href="#target-icon"> Target icon</a>
                </li>
                <li class="nav-item-sub">
                    <a class="nav-link" href="#target-round"> Target img round</a>
                </li>
                <li class="nav-item-sub">
                    <a class="nav-link" href="#target-h"> Target horizontal</a>
                </li>
                <li class="nav-item-sub">
                  <a class="nav-link" href="#media"> Media object</a>
                </li>
                <li class="nav-item-sub">
                    <a class="nav-link" href="#overlay"> Overlay</a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="">Bloques</a>
            <ul class="nav submenu flex-column">
                <li class="nav-item-sub">
                    <a class="nav-link" href="#bloque6-6"> Bloque 6-6</a>
                </li>
                <li class="nav-item-sub">
                    <a class="nav-link" href="#bloque1-3"> Bloque 1/3</a>
                </li>
                <li class="nav-item-sub">
                    <a class="nav-link" href="#bloque12"> Bloque 12</a>
                </li>
            </ul>
        </li>
    </ul>

</div>