
<h3 id="target">Target type</h3>

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        {% include _elements/_target.html %}

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        {% include _elements/_target.html %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {% include _elements/_target.html %}

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {% include _elements/_target.html %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {% include _elements/_target.html %}
    </div>
</div>
<h4 id="target-icon">Con iconos</h4>

<div  class="row">

    <div class="col-xs-12 col-sm-6 col-md-4">
        {% include _elements/_target_icon.html icon="heart" type="target-icon" icon-size="4" %}

    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        {% include _elements/_target_icon.html icon="desktop" type="target-icon" icon-size="4" %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        {% include _elements/_target_icon.html icon="comment" type="target-icon" icon-size="4" %}

    </div>

</div>
<h4 id="target-round">Con imágenes redondas</h4>
<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {% include _elements/_target_img.html  img="img/cover.jpg" class="rounded-circle" %}

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {% include _elements/_target_img.html  img="img/cover.jpg"  class="rounded-circle" %}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {% include _elements/_target_img.html  img="img/cover.jpg" class="rounded-circle"  %}

    </div>


</div>