
           {% include _components/_h1.html title="Better, Simpler Grid Systems" %}
           {% include _components/_lead.html %}

           {% include _components/_copy.html %}


               {% include _components/_figure.html  img="img/cover.jpg" %}



           {% include _components/_copy.html %}


           <form class="form-inline">

               <div class="form-group mr-sm-3 mb-2">
                   <label class=" mr-sm-3">E-mail</label>
                   <input type="password" class="form-control" id="inputPassword2" placeholder="email@email.com">
               </div>
               {% include _components/_btn.html title-btn="Inscribirse a la  newsletter" class="mb-2" %}
           </form>

           {% include _components/_h2.html title="Features of a Flexbox Grid System" %}
           {% include _components/_lead.html %}

           {% include _components/_copy.html %}
           {% include _components/_copy.html %}

           {% include _components/_blockquote.html %}
           {% include _components/_copy.html %}

           {% include _components/_description_list.html %}
           {% include _components/_copy.html %}

           {% include _components/_h3.html title="Individual Sizing" %}
           {% include _components/_lead.html %}
           {% include _components/_copy.html %}

           {% include _components/_list.html %}
           {% include _components/_copy.html %}

           <form class="form-inline">

               <div class="form-group mr-sm-3 mb-2">
                   <label for="inputPassword2" class="sr-only">Password</label>
                   <input type="password" class="form-control" id="inputPassword2" placeholder="email@email.com">
               </div>
               {% include _components/_btn.html title-btn="Inscribirse a la  newsletter" class="mb-2" %}
           </form>

           {% include _components/_copy.html %}

           {% include _components/_copy.html %}

           {% include _components/_h4.html title="Responsive" %}
           {% include _components/_copy.html %}
           <form>
               <div class="form-group">
                   {% include _components/_label.html class="" title="E-mail adress" %}
                   {% include _components/_input.html class="" placeholder="Enter e-mail" %}
                   <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
               </div>
               <div class="form-group">
                   {% include _components/_label.html class="" title="Password" %}
                   {% include _components/_input.html class="" placeholder="Password" %}
               </div>

               {% include _components/_check.html class="" type="checkbox" text="Check me out"  %}

               {% include _components/_btn.html class="btn-primary" title-btn="Submit"  %}
           </form>
           {% include _components/_copy.html %}
           {% include _components/_h5.html title="Alignment Features" %}

           {% include _components/_copy.html %}
           {% include _components/_copy.html %}

           {% include _components/_h1.html title="Bootstrap heading" %}
           {% include _components/_h2.html title="Bootstrap heading" %}
           {% include _components/_h3.html title="Bootstrap heading" %}
           {% include _components/_h4.html title="Bootstrap heading" %}
           {% include _components/_h5.html title="Bootstrap heading" %}

           <span class="h1">Bootstrap heading span</span>
           <span class="h2">Bootstrap heading span</span>
           <span class="h3">Bootstrap heading span</span>
           <span class="h4">Bootstrap heading span</span>
           <span class="h5">Bootstrap heading span</span>
           <span class="h6">Bootstrap heading span</span>

           <h3>{% include _components/_badge.html class="badge-primary" title="Agotado" %}</h3>
           <h4>{% include _components/_badge.html class="badge-danger" title="Oferta" %}</h4>
           <h5>{% include _components/_badge.html class="badge-success" title="Disponible" %}</h5>
           {% include _components/_badge.html class="badge-primary" title="Agotado" %}
           {% include _components/_badge.html class="badge-danger" title="Oferta" %}
           {% include _components/_badge.html class="badge-success" title="Disponible" %}

           <nav aria-label="breadcrumb">
               <ol class="breadcrumb">
                   <li class="breadcrumb-item"><a href="#">Home</a></li>
                   <li class="breadcrumb-item"><a href="#">Library</a></li>
                   <li class="breadcrumb-item active" aria-current="page">Data</li>
               </ol>
           </nav>
            <div>
                {% include _components/_btn.html class="btn-primary" title-btn="Primary"  %}
                {% include _components/_btn.html class="btn-linky" title-btn="Link"  %}
                {% include _components/_btn.html class="btn-light" title-btn="Light"  %}

            </div>

           <div>
               {% include _components/_btn.html class="btn-outline-primary" title-btn="Primary"  %}
               {% include _components/_btn.html class="btn-outline-secondary" title-btn="Secondary"  %}

           </div>
           <div style="max-width:400px">
               {% include _components/_btn.html class="btn-primary  btn-block" title-btn="Block"  %}
               {% include _components/_btn.html class="btn btn-secondary  btn-block" title-btn="Block"  %}

           </div>
           <div>
               {% include _components/_btn.html class="btn-primary  disabled" title-btn="Primary disable"  %}
               {% include _components/_btn.html class="btn-secondary  disabled" title-btn="Secondary disable"  %}

           </div>
           <div>
               {% include _components/_btn.html class="btn-primary btn-lg" title-btn="Primary large"  %}
               {% include _components/_btn.html class="btn btn-secondary btn-lg" title-btn="Secondary large"  %}

           </div>
           <div class="form-check-group">

               {% include _components/_check.html class="" type="checkbox" text="Check me out"  %}
               {% include _components/_check.html class="" type="checkbox" text="Check me out"  %}
               {% include _components/_check.html class="" type="checkbox" text="Check me out"  %}

           </div>
           <div class="form-check-group">
               {% include _components/_check.html class="form-check-inline" type="checkbox" text="Check me out"  %}
               {% include _components/_check.html class="form-check-inline" type="checkbox" text="Check me out"  %}
               {% include _components/_check.html class="form-check-inline" type="checkbox" text="Check me out"  %}

           </div>
           <div class="form-check-group">
               {% include _components/_check.html class="" type="radio" text="Default radio"  %}
               {% include _components/_check.html class="" type="radio" text="Second default radio"  %}

           </div>
           <select class="form-control">
               <option>Default select</option>
               <option>Default select</option>
               <option>Default select</option>
           </select>
