
           {% include _components/_h1.html title="Better, Simpler Grid Systems" %}
           {% include _components/_lead.html %}

           {% include _components/_copy.html %}


               {% include _components/_figure.html  img="img/cover.jpg" %}



           {% include _components/_copy.html %}


           <form class="form-inline">

               <div class="form-group mr-sm-3">
                   <label class=" mr-sm-3">E-mail</label>
                   <input type="password" class="form-control" id="inputPassword3" placeholder="email@email.com">
               </div>
               {% include _components/_btn.html  btn-class="btn-primary" btn-title="Inscribirse a la  newsletter" class="mb-2" %}
           </form>

           {% include _components/_h2.html title="Features of a Flexbox Grid System" %}
           {% include _components/_lead.html %}

           {% include _components/_copy.html %}
           {% include _components/_copy.html %}

           {% include _components/_blockquote.html %}
           {% include _components/_copy.html %}

           {% include _components/_description_list.html %}
           {% include _components/_copy.html %}

           {% include _components/_h3.html title="Individual Sizing" %}
           {% include _components/_lead.html %}
           {% include _components/_copy.html %}

           {% include _components/_list.html %}
           {% include _components/_copy.html %}

           <form class="form-inline">

               <div class="form-group mr-sm-3">
                   <label for="inputPasswo" class="sr-only">Password</label>
                   <input type="password" class="form-control" id="inputPasswo" placeholder="email@email.com">
               </div>
               {% include _components/_btn.html  btn-class="btn-primary" btn-title="Inscribirse a la  newsletter" class="mb-2" %}
           </form>

           {% include _components/_copy.html %}

           {% include _components/_copy.html %}

           {% include _components/_h4.html title="Responsive" %}
           {% include _components/_copy.html %}
           <form>
               <div class="form-group">
                   {% include _components/_label.html class="" title="E-mail adress" %}
                   {% include _components/_input.html class="" placeholder="Enter e-mail" %}
                   <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
               </div>
               <div class="form-group">
                   {% include _components/_label.html class="" title="Password" %}
                   {% include _components/_input.html class="" placeholder="Password" %}
               </div>

               {% include _components/_check.html class="" type="checkbox" text="Check me out"  %}

               {% include _components/_btn.html  btn-class="btn-primary" class="btn-primary" btn-title="Submit"  %}
           </form>
           {% include _components/_copy.html %}
           {% include _components/_h5.html title="Alignment Features" %}

           {% include _components/_copy.html %}
           {% include _components/_copy.html %}

           {% include _components/_h1.html title="Bootstrap heading" %}
           {% include _components/_copy.html %}
           {% include _components/_h2.html title="Bootstrap heading" %}
           {% include _components/_copy.html %}
           {% include _components/_h3.html title="Bootstrap heading" %}
           {% include _components/_copy.html %}
           {% include _components/_h4.html title="Bootstrap heading" %}
           {% include _components/_copy.html %}
           {% include _components/_h5.html title="Bootstrap heading" %}
           {% include _components/_copy.html %}
           {% include _components/_h1.html class="display-1" title="Display 1" %}

           {% include _components/_copy.html %}
           {% include _components/_h1.html class="display-2" title="Display 2" %}
           {% include _components/_copy.html %}
           {% include _components/_h1.html class="display-3" title="Display 3" %}
           {% include _components/_copy.html %}
           {% include _components/_h1.html class="display-4" title="Display 4" %}
           {% include _components/_copy.html %}




           <h3>{% include _components/_badge.html badge-class="badge-primary" badge-title="Agotado" %}</h3>
           <h4>{% include _components/_badge.html badge-class="badge-danger" badge-title="Oferta" %}</h4>
           <h5>{% include _components/_badge.html badge-class="badge-success" badge-title="Disponible" %}</h5>



           {% include _components/_badge.html badge-class="badge-primary" badge-title="Agotado" %}
           {% include _components/_badge.html badge-class="badge-danger" badge-title="Oferta" %}
           {% include _components/_badge.html badge-class="badge-success" badge-title="Disponible" %}


           <nav aria-label="breadcrumb">

               <ol class="breadcrumb">
                   <li class="breadcrumb-item"><a href="#">Home</a></li>
                   <li class="breadcrumb-item"><a href="#">Library</a></li>
                   <li class="breadcrumb-item active" aria-current="page">Data</li>
               </ol>
           </nav>
            <div>
                {% include _components/_btn.html btn-class="btn-primary" btn-title="Primary"  %}
                {% include _components/_btn.html btn-class="btn-link" btn-title="Link"  %}
                {% include _components/_btn.html btn-class="btn-light" btn-title="Light"  %}

            </div>


           <div>
               {% include _components/_btn.html btn-class="btn-outline-primary btn-sm" btn-title="Primary small"  %}
               {% include _components/_btn.html btn-class="btn-outline-secondary btn-sm" btn-title="Secondary small"  %}

           </div>
           <div>
               {% include _components/_btn.html btn-class="btn-outline-primary" btn-title="Primary default"  %}
               {% include _components/_btn.html btn-class="btn-outline-secondary" btn-title="Secondary default"  %}

           </div>
           <div>
               {% include _components/_btn.html btn-class="btn-primary btn-lg" btn-title="Primary large"  %}
               {% include _components/_btn.html btn-class="btn btn-outline-primary btn-lg" btn-title="Secondary large"  %}

           </div>
           <div style="max-width:400px">
               {% include _components/_btn.html btn-class="btn-primary  btn-block" btn-title="Block"  %}
               {% include _components/_btn.html btn-class="btn-outline-primary  btn-block" btn-title="Block"  %}

           </div>
           <div>
               {% include _components/_btn.html btn-class="btn-primary  disabled" btn-title="Primary disable"  %}
               {% include _components/_btn.html btn-class="btn-outline-primary  disabled" btn-title="Secondary disable"  %}

           </div>

           <hr>
           {% include _components/_h5.html title="Bootstrap heading" %}
           <div class="form-check-group">

               {% include _components/_check.html class="" type="checkbox" text="Check me out"  %}
               {% include _components/_check.html class="" type="checkbox" text="Check me out"  %}
               {% include _components/_check.html class="" type="checkbox" text="Check me out"  %}

           </div>

           {% include _components/_h5.html title="Bootstrap heading" %}
           <div class="form-check-group">
               {% include _components/_radio.html class="" text="Default radio"  %}
               {% include _components/_radio.html class="" text="Second default radio"  %}

           </div>
           {% include _components/_switch.html %}
           {% include _components/_switch.html %}


           {% include _components/_select.html
           justify="justify-content-start"
           title-select="Filtrar"
           option0="Ordenar por:"
           option1="Precio ascendente"
           option2="Precio descendente"
           option3="Novedades"


           %}

           {% include _components/_range-slider.html  %}
           {% include _elements/_pagination.html  %}

           <hr>
           <form class="form-inline">
               {% include _components/_input-number.html class="mr-3" %}
               {% include _components/_btn.html btn-class="btn-primary" btn-title="Añadir a la cesta" %}

           </form>


        <div style="height: 200px">

        </div>